<div class="main-content">

<div class="btn-toolbar list-toolbar">
    <a href="<%= new_backend_film_title_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</a>
    <a href="#" class="btn btn-default">导入</a>
    <a href="#" class="btn btn-default">导出</a>
    <a href="#" class="btn btn-default">下载模板</a>

    <%= form_tag 'film_titles/index/1',method: 'get', remote: true do %>
    <%= text_field_tag :name %>
    <%= submit_tag '查询' %>
    <% end %>
  <div class="btn-group">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>中文名</th>
      <th>英文名</th>
      <th style="width: 3.5em;"></th>
    </tr>
  </thead>
  <tbody>
  1111
  <%= render @film_titles %>
  <hr/>


  <% @film_titles.each do |title| %>
    <tr id="title_<%= title.id %>">
      <td><%= title.chinese_name %></td>
      <td><%= title.english_name%></td>
      <td>
      <a data-toggle='modal' data-target='#modalConfirm' onclick="DeleteConfirm('<%= backend_film_title_path title%>','<%= title.id%>')">删除</a>
          <a href="<%= edit_backend_film_title_path title %>"><i class="fa fa-pencil"></i></a>
          <a href="<%= backend_film_title_path title%>" data-confirm="确定删除吗?" data-method="delete" role="button" ><i class="fa fa-trash-o"></i></a>

    <a   data-toggle='modal' data-target='#modalConfirm'  onclick="DeleteConfirm('<%= backend_film_title_path title%>')"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
<%= paginate @film_titles %>


<!-- 模态框（Modal） -->
<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>